.checkout-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 1500px;
    min-height: 90vh;
    margin: auto;
    /* padding: 10px;  */
}

.checkout-container > div {
    background-color: white;
    padding: 10px;
}

/* Cart total */
.cart-total-container {
    padding: 20px;
    max-width: 350px;
    max-height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin: auto; */
}

.cart-total-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.cart-total-container>button {
    cursor: pointer;
    /* background-color: var(--amazon-orange); */
    background-color: var(--orange);
    border-radius: 100px;
    border:none;
    padding: 5px;
    width: 100%;
    margin: auto;
}

.cart-total-container>button:hover {
    background-color: var(--orange-hover);
}

/* Cart */
.checkout-cart-container {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    /* margin: auto; */
    max-height: auto;
    min-width: 350px;
    /* border: 1px solid red; */
}

.checkout-cart-header {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.checkout-cart-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.checkout-cart {
    display: flex;
    flex-direction: column;
}