.checkout-prod{ 
    display: flex;
    flex-direction: row;
    padding: 10px;
    cursor: pointer;
}

.checkout-prod img {
    width: 200px;
    max-height: 150px;
    object-fit: contain;
}

.checkout-prod>div {
    flex: 1;
    
}

.checkout-prod>div>button {
    cursor: pointer;
    /* background-color: var(--amazon-orange); */
    background-color: yellow;
    border-radius: 100px;
    border:none;
    padding: 5px;
    width: 30%;
    margin: auto;
}

.checkout-prod-rating {
    display: flex;
    flex-direction: row;
}

.checkout-prod-btn-group {
    display: flex;
    flex-direction: row;
}

.checkout-prod-btn-group>button {
    background: none;
    outline: none;
    border: none;
    color: blue;
    min-width: 60px;
    padding: 0 10px 0 10px;
    font-size: 12px;
}

.checkout-prod-btn-group>button:hover {
    text-decoration: underline;
}