.nav-hidden {
    position: fixed;
    height: 45px;
    width: 100%;
    /* min-width: 1000px; */
    background-color: var(--amazon-dark-blue);
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
    transition: all 0.1s;
    padding: 5px;
    z-index: 9;
}

.nav-hidden {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-hidden>ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    height:100%;
}

.nav-hidden-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    border: 1px solid var(--amazon-dark-blue);
}

.nav-hidden-list-item:hover {
    border: 1px solid white;
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    .to-hide {
        display: none;
    }    
}