.navbar {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #131A22;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 100px;
    width: 100%;
    overflow: hidden;
    padding-right: 20px;
    padding-left: 10px;
}

.nav-search-icon {
    background-color: #cd9042;
    padding: 10px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.nav-search-container {
    display: flex;
    align-items: center;
    flex: 1;
    background-color: white;
    border-radius: 5px;
}

.navbar-search {
    height: 15px;
    padding: 10px;
    border: none;
    width: 100%;
    outline: none;
}

.nav-links {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 5px;
    border: 1px solid var(--amazon-black);
    border-radius: 5px;
}

.nav-links:hover {
    border: 1px solid lightgray;
}

/* Media query for ".to-hide" written at NavbarHidden.css */