.sub-nav-mobile {
    position: fixed;
    width: 100%;
    transition: all 0.1s;
    z-index: 9;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--amazon-dark-blue);
    display: none;
}

@media only screen and (max-width: 600px) {
    .sub-nav-mobile {
        display: flex;
    }
}