
.user-container {
    width: 100%;
    min-height: 90vh;
    margin: auto;
    padding-top: 40px;
    /* border: 1px solid green; */
    background-color: white;
}

.user-container span {
    color: grey;
}

.user-container>div {
    margin: auto;
    max-width: 1000px;
}
.user-container>div>div {
    padding-left: 20px;
}

.user-container button {
    width: 150px;
    padding: 5px;
    border: 0.5px solid lightgrey;
    background-color: var(--amazon-orange);
}

.user-container form {
    display: flex;
    flex-direction: column;
}

.user-container form>input {
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 200px;
}

.user-icon-div>i {
    font-size: 50px; 
    border: 2px solid grey;
    border-radius: 500px;
    padding: 10px 12.5px;
    color: gray;
}

.user-general-details-div {
    /* border-top: 0.5px solid lightgray; */
    border-bottom: 0.5px solid lightgray;
}

.user-address-delete-logo {
    color: var(--amazon-black);
    transition: all 0.1s;
    cursor: pointer;
}

.user-address-delete-logo:hover {
    color: var(--amazon-blue);
}

.user-whishlist>h2 {
    font-weight: 200;
}
